@import "../../../styles/styles.module.scss";

.dialog-actions {
  background-color: $textContact;

  .btn-cancel {
    color: $textBtnCancel;
  }
}

.btn-alert {
  background-color: rgb(6, 153, 6);
  color: $colorWhite;

  &:hover {
    background-color: $btnDelete;
  }
}
