.grid-title-box {
  justify-content: space-between;
  align-items: center;
  background-color: #f3f1f1;
  padding-left: 10px;
  margin-top: 21px;
  margin-left: -20px;
}

.custom-height {
  height: 400px !important;
}

.comment-box {
  height: 150px;
}
