@import "../../styles/styles.module.scss";

.action {
  .btn-delete,
  .btn-edit {
    svg {
      width: 20px !important;
      height: 20px !important;
    }
  }
  .btn-edit {
    margin-right: 5px;
  }

  .btn-delete {
    margin-left: 5px;
  }
}

.delete-btn {
  position: absolute;
  right: 80px;
  margin-top: -40px;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .search-section {
    display: flex;
  }
}

.page-title {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 0;
}

.table-row {
  &:last-child td,
  &:last-child th {
    border: 0;
  }

  .order-status {
    padding: 5px 30px;
    font-weight: 700;
  }
}

.grid-price-text {
  flex-direction: column;
  align-items: flex-start;
}

.order-name {
  width: 200px;
}

.customer {
  width: 200px;
}

.icons {
  width: 40px;
  height: 40px;
}

.btn_create_disable {
  color: #3f48cc;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 30px;
  background-color: #dcdbdb;
}

.box-title {
  padding: 10px;
  margin: 10px 0;
  margin-left: -10px;
  background-color: $colorGrey;
  width: 100%;

  p {
    font-weight: bold;
  }
}

@media screen and (max-width: 375px) {
  .header {
    display: block !important;
    .search-section {
     height: 60px;
    }
  }
}

.table-grid {
  overflow-x: scroll;
  width: auto;
  display: flex;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, $colorPrimaryLight, $colorBlue);
    border-radius: 10px;
  }

  .table-grid-items {
    width: 350px !important;
    margin-right: 10px;
  }
}

.box-table-grid {
  width: 82vw;
  position: relative;
}
