@import "../../../styles/styles.module.scss";

.dialog-actions {
  background-color: $textContact;

  .btn-cancel {
    color: $textBtnCancel;
  }
}

.btn-delete {
  background-color: $colorCheck;
  color: $colorWhite;

  &:hover {
    background-color: $btnDelete;
  }
}
