@import "../../styles/styles.module.scss";

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .btn_create {
    @extend .box-shadow;
    @extend .bg-gradient-primary;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;

    &:hover {
      background: linear-gradient(to right, $colorPrimaryLight, $colorBlue);
    }
  }
}
