.icons {
  width: 40px;
  height: 40px;
}

.page-title {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 0;
}

.page-content {
  width: 100%;
  margin-top: 30px;
}

.show-all {
  text-align: center;
  margin-top: 30px;
}
